

.table {
    width: 100%;
    box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);

}
.mainTab thead {
    height: 48px;
    vertical-align: middle;
    background: #ECECF9;
}
.mainTab thead th {
    vertical-align: middle;
    padding: 0 10px;
    font-weight: bold;
    font-size: 15px;
}

.mainTab tbody td {
    height: 48px;
    padding: 0 10px;
    font-size: 14px;
    vertical-align: middle;
}


.mainTab tbody tr:nth-child(even) {
    background: #F8F7FD;
}
.mainTab tbody td button {
    padding: 5px 25px;
    font-size: 13px;
}
