.rowTable {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding:0 30px;
}

.rowText{
    min-height:15px;
    text-align: center;
    width: 80%;
    margin: 15px 10px 15px 0;
    justify-content: center;
}